# Fichiers secrets (DO NOT UPLOAD)
.env
*.env

# Local database
*.db
portfolio_news.db

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Cache Redis
dump.rdb

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

.streamlit/secrets.toml
